@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 198, 143, 120, 1;
  --background-end-rgb: 210, 192, 168, 1;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 57,112,80, 1;
    --background-end-rgb: 45,63,87, 1;
  }
}


::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: transparent; /* Blue color for the thumb */
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    circle at center,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
    );
  }

.library {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.library.open {
  transform: translateX(0);
}

.titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: #1db954;
}

.window-controls button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
}

.extra-controls button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}